@tailwind base;
@tailwind components;
@tailwind utilities;

.top-wrapper {
  background-image: url('https://cdn-icons-png.flaticon.com/512/3972/3972999.png');
  height: calc(100vh - 134px);
  background-position: center;
body {
  background-color: #FED16A;
}
}

/* Markdownで変換された画像にサイズ制限をかける */
.markdown-body img {
    max-width: 100%;
    height: auto;
    width: 200px; /* 任意の幅に調整。統一表示される */
    display: block;
    margin: 0 auto;
}
